/* 共通 */
* {
    color: #555555;
}

.title {
    color: #007bff;
    text-align: center;
    text-shadow: .1em .1em .1em #cccccc;
    font-size: 2rem;
    margin: .5em auto;
}

.notice {
    text-align: center;
    margin: .5em auto;
}

.buttons {
    text-align: center;
    margin: .5em auto;
}

.hidden {
    display: none;
}

/* ルーレット */
.roulette-name-box {
    height: 8rem;
}

.selected-name {
    font-size: 2.5rem;
}

.selected {
    font-size: 4em !important;
    font-weight: bold;
}

/* クイズ選択 */
.quiz-list-block {
    width: 500px;
    margin: 0 auto;
}

.quiz-list-block button {
    margin: .5em .5rem;
}

/* クイズ */
.quiz-block {
    width: 500px;
    margin: 0 auto;
}

.quiz-block li {
    display: inline-block;
}

.quiz-body {
    font-size: 1.5rem;
    font-weight: bold;
}

.quiz-body p {
    text-align: center;
}

.quiz-body img.middle {
    width: 300px;
}

.quiz-body small {
    font-size: 1rem;
}

.choice-list {
    font-size: 2.5rem;
}

.choice-list span {
    font-size: 2rem;
}

.choice-list img {
    width: 200px;
}

.choice-list .choice-box {
    width: 240px;
    height: 200px;
    display: inline-flex;
    #justify-content: center;
    align-items: center;
}


.choice-list .choice-box div {
    padding-left: 2rem;
    text-indent: -2rem;
}

.choice-list2 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

.choice-list2 span {
    font-size: 2rem;
}

.choice-list2 img {
    width: 200px;
}

.choice-list2 .choice-box {
    width: 240px;
    display: inline-flex;
    #justify-content: center;
    align-items: center;
}


.choice-list2 .choice-box div {
    padding-left: 2rem;
    text-indent: -2rem;
}
